<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM0XW_yPxgq6UdBg_e4QkOcV3YZkSvUwo</string>
	<key>GCM_SENDER_ID</key>
	<string>244761038668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.dgagency</string>
	<key>PROJECT_ID</key>
	<string>dgacengy</string>
	<key>STORAGE_BUCKET</key>
	<string>dgacengy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244761038668:ios:d0137934ffbcfe8f9689e9</string>
</dict>
</plist>